@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    display: inline-block;
    
}

#subtitle {
    background: black;
    color: white;
   display: block;
   margin: 20px;
    
}

.topic {
    background: lightgray;
    display: block;
}

